body{
    background-color: gray;
}

.navbar{
    max-height: 50px;
    background-color: lightgray;
    font-size: 15px;
}

.navigation .navbar-brand{
    color: white;
    margin-left: 50px;
    padding: inherit;
    font-weight: bold;
    background-color: limegreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.dropdown-item{
    color: forestgreen;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:active{
    background-color: lightgray;
}

.nav-link:hover{
    background-color: lightgray;
}


@media (max-width: 992px){
    .navbar-expand-lg{
        background-color: limegreen;
    }
    .navbar{
        max-height: none;
        padding: inherit;
    }
    .navbar div{
        margin: inherit;
        background-color: white;
    }
    .navbar-brand{
        padding: 10px;
    }
    button{
        margin-left: auto;
    }
    button:focus{
        outline: 1px dotted;
    }
}


.description-content{
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 10px 30px 5px;
    color: black;
    background-color: white;
}

.imageNav-content{
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px 30px 40px;
    color: black;
    background-color: white;
}

.description-header, .imageNav-header{
    padding-top: 15px;
    padding-left: 5px;
    color: limegreen;
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img{
    width: 100%;
    height: 100%;
}

.description-image{
    float: left;
    width: 60%;
    height: 60%;
}

p{
    color: darkslategrey;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.active, .imageNav-photo:hover{
    border-color: limegreen;
    border-style: solid;
}

.footer{
    background-color: darkslategrey;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: limegreen;
    color: white;
    min-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    position: fixed;
    padding-top: 10px;
    width: 100%;
    left: 0;
    bottom: 0;
}